:root {
   
  font-family: 'Muli', sans-serif;
  }

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(98, 87, 87);
}

.about{
  color: rgb(63, 100, 63);
}

nav {
background: #dbffab;
opacity: 0.5;
padding: 20px;
width: 100%;
color: #dbffab;
font-size: 24px;
text-decoration: none;
padding: 3px;
position: fixed;
top: 0;
display: flex;
justify-content: flex-end;
}

nav a {
color: black;
font-size: 24px;
text-decoration: none;
padding: 8px;
font-size: 20px;
}
nav a:hover {
  color: black;
  text-decoration: underline;
}

img{
  width: 1299px;
}

main{
  display: flex;
  flex-direction: column;
}

h1, p{
  width: 50%;
  text-align: justify;
  align-self: center;
  padding-top: 25px;
}

@media only screen and (max-width: 768px){
  main{
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
     
  }

nav{
  display: flex;
  justify-content: center;
}


  h2{
      text-align: center;
  }

  section{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

 

}